html, body {
    min-height: 100vh;
    min-width: 100vh;
}
header {
    min-height: 10vh;
    padding: 50px;
    margin: 0;
}

main {
    display: flex;
    min-height: 75vh;
    justify-content: center;
}

input {
  width: 255px;
  height: 40px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.login-form {
    display: flex;
    flex-direction: column;
    gap:10px;
}
form h2 {
    text-align: center;
}
.forget {
    text-align: center;
}
footer {
  min-height: 5vh;
  text-align: end;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}