html, body {
    min-width: 100vh;
    min-height:100vh;
}
.modale-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.modale-content {
    display: flex;
    width: 90%;
    background-color: rgb(236, 236, 236);
}.modale {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-container {
    width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery {
	width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}
.modale-gallerie {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;/* La modale est cachée par défaut */
}


.close-modale {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.include-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conditon-obj-centent {
 display: flex;
 flex-direction: column;
}
.photos-container {
    display: grid;
    width: 80%;
    height: 400px;
    background-color: aliceblue;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    /* Styles supplémentaires pour la mise en forme des images */
}
.P6-btn-photo-contenair {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ajouter-photo {
    background: #1D6154;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}